numpy
pandas
openpyxl
xlsxwriter
chromadb
langchain
langchain-community
langchain-chroma
langchain-openai
streamlit
streamlit-navigation-bar
scikit-learn
matplotlib
pinecone-client
langchain-pinecone
plotly
pytube
yt-dlp
streamlit-authenticator
dataiku-api-client
ffmpeg
moviepy
mutagen
fuzzywuzzy
audiofile
assemblyai
